<h3>Detailed Information About Repository</h3>
<br>

<label>Select which detail you'd like to view about this repository:</label>
<form>
    <select class="custom-select" style="width: 50em;" [(ngModel)]="selectedInfo" name="selectedInfo">
        <option></option>
        <option [ngValue]="'contr'">Contributors</option>
    </select>
</form>
<br>
<hr>

<ng-container *ngIf="selectedInfo !== '' && selectedInfo === 'contr' ">

  //this is used to open the contributor sub component if the above condition is true. The name of the component is in the ts file
  //the square brackets send the variable specified in "" to the sub component. 
    <app-contributors [urlGroupId]="urlGroupId" [urlRepoId]="urlRepoId"></app-contributors>

</ng-container>



<!-- <ng-container *ngIf="!pulls">
    <h4>Loading pull requests info, please wait a moment...</h4>
</ng-container>

<ng-container *ngIf="pulls && pulls == []">
    <h4>No pull requests found in this repository</h4>
</ng-container>
<br>

<ng-container *ngIf="pulls">
    <div class="card-deck">

        <div *ngFor="let pull of pulls">

            <div class="card custom-card">

                <h3>{{ pull.date }} </h3>
                <br>
                <h4> Rate: {{ pull.rate }} </h4>
      

            </div>


        </div>

    </div>

</ng-container> -->
